# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\Study-All\Java_ClassRoom\java-basic-learning\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
